*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(159, 52, 230);
    font-size: 20px;
}
.master{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5rem 2rem;
}
.fm{
    width: fit-content;
    margin: auto;
    /* margin-top: 4rem; */
}
#search{
    border-radius: 5rem;
    width: 25rem;
    height: 3rem;
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 15px 40px .5px rgb(53, 51, 51);
}
#maincover{
    width: fit-content;
    margin: auto;
}
#card{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto;
    /* margin-bottom: 2rem; */
    justify-content: space-between;
    background-color: rgb(135, 7, 194);
    border-radius: 2rem;
    box-shadow: 5px 15px 40px .5px rgb(53, 51, 51);
    padding: 2%;
}
#image{
    width: fit-content;
    height: fit-content;
    margin: auto;
}
img{
    width: 12rem;
    height: 28vh;
    border-radius: 5rem;
    border: solid black 1px;
}
.user-info{
    width: fit-content;
    height: fit-content;
    margin: auto 1.5rem;
}
.info{
    width: 100%;
    display: flex;
    width: fit-content;
    list-style-type: none;
    margin-top: 1rem;
}
li{
    text-decoration: none;
    font-size: 18px;
    margin: auto 1rem;
    color: rgb(248, 247, 247);
}
#repos{
    width: fit-content;
    height:fit-content;
    margin: auto;
    margin-top: 1rem;
    margin-left: 1rem;
} 
.repo{
    background-color: #2a2a72;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 13px;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}
h2{
    margin: 0  1rem;
    width: fit-content;
    color: white;
}
h4{
    margin: 1rem  1rem;
    width: fit-content;
    color: white;
    font-size: 20px;
}

/*media queries*/
@media screen and (min-width: 1440px){
    .master{
        width: 85%;
    }
    img{
        width: 15rem;
        height: 28vh;
        border-radius: 5rem;
        border: solid black 1px;
    }
    #search{
        border-radius: 5rem;
        width: 24rem;
        height: 3rem;
        font-size: 25px;
    }
    #maincover{
        margin-bottom: 1rem;
    }
    .fm{
        width: fit-content;
        margin: 1rem auto;
    }   
}

@media screen and (min-width: 1024px){
    .master{
        width: 80%;
    }
    img{
        width: 15rem;
        height: 28vh;
        border-radius: 5rem;
        border: solid black 1px;
    }
    #search{
        border-radius: 5rem;
        width: 24rem;
        height: 3rem;
        font-size: 25px;
    }
    #maincover{
        margin-bottom: 1rem;
    }
    .fm{
        width: fit-content;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 1023px){
    .master{
        width: 80%;
    }
    img{
        width: 15rem;
        height: 28vh;
        border-radius: 5rem;
        border: solid black 1px;
    }
    #search{
        border-radius: 5rem;
        width: 24rem;
        height: 3rem;
        font-size: 25px;
    }
    #maincover{
        margin: auto;
        margin-bottom: 1rem;
    }
    .fm{
        width: fit-content;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 768px){
    .fm{
        width: fit-content;
        margin: 1rem auto;
        margin-top: 4rem;
    }
}

@media screen and (max-width: 640px){
    .fm{
        width: fit-content;
        margin: 1rem auto;
        margin-top: 6rem;
    }
}

@media screen and (max-width: 590px){
    .master{
        width: 80%;
    }
    img{
        width: 15rem;
        height: 28vh;
        border-radius: 5rem;
        border: solid black 1px;
    }
    #search{
        border-radius: 5rem;
        width: 22rem;
        height: 3rem;
        font-size: 25px;
    }
    #maincover{
        margin-bottom: 1rem;
    }
    .fm{
        width: fit-content;
        margin: 1rem auto;
        margin-top: 9rem;
    }
}

@media screen and (max-width: 535px){
    .master{
        width: fit-content;
    }
    .fm{
        width: fit-content;
        margin: 1rem auto;
        margin-top: 16rem;
    }
    #search{
        border-radius: 5rem;
        width: 18rem;
        height: 3rem;
        font-size: 22px;
    }
}

@media screen and (max-width :430px){
    .master{
        width: fit-content;
    }
    img{
        width: 15rem;
        height: 28vh;
        border-radius: 5rem;
        border: solid black 1px;
        margin: 1rem auto;
    }
    #search{
        border-radius: 5rem;
        width: 20rem;
        height: 3rem;
        font-size: 20px;
    }
    #maincover{
        margin-bottom: 1rem;
    }
    .fm{
        width: fit-content;
        margin: 1rem auto;
        margin-top: 17rem;
    }
    #card{
        padding: 0%;
    }
}

@media screen and (max-width :380px){
    #search{
        border-radius: 5rem;
        width: 16rem;
        height: 3rem;
        font-size: 17px;
    }
    .master{
        width: fit-content;
    }
}

@media screen and (max-width :300px){
    #search{
        width: 14rem;
        height: 2rem;
        font-size: 14px;
    }
    .master{
        width: fit-content;
        margin: auto;
    }
}
